* {
    font-family: 'Merienda', cursive;
    margin: 0;
}

body,
html,main {
    width: 100%;
    height: 100%;
}

.fondo {
    background-image: url("/img/fondo.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    }


header {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    color: white;
    /*  */
    width: 230px;
    transition: 1s linear;
}
h1:hover{
    background-color: black;
    color: #BDC3C7;
    width: 300px;
    border-radius: 10px;
    display: block;
    
}

ul {
    
    display: flex;
    flex-direction: column;
    gap: 40px;    
    height: 100%;
    height: 100%; display: flex; 
    
}

ul div{
    background-color: #a3a8ab;
    width: 300px;
    height: 150px;
    text-align: center;
    color: cornsilk;
    border-radius: 10px;  
    object-fit: cover;
    box-shadow: 2px 4px 10px BLACK;
    transition: 1s;
}

ul div:hover{
    cursor: pointer;
    transform:scale(1.2,1.2);
    text-shadow: 1px 1px white;

}


.lemon_img{
    width: 300px;
    height: 116px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit:cover;
    
}

.pets {
    width: 300px;
    height: 116px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit:cover;
    
    
}
.bruceIMG{
    height: 110px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    
}
img.HeroesIMG{
    width: 300px;
    height: 116px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit:cover;
    
}


h2 a:link,
h2 a:visited {
    color: black;
    text-decoration: none;
}

footer {
    background-color: #a3a8ab;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: black;
    font-weight: bold;
}