@font-face {
    font-family: "BigHero";
    src: url("../font/webfontkit-20210725-171222/bighero_v4-webfont.woff");
}
body{
    background-image: url("../img/baymax.img") ;
    background-size:100% ;
    opacity: ;
}
h1{
    border-radius: 10px;
    width:max-content ;
    border: white solid 5px;
    background-color: white;
    color: black;
    font-family: "BigHero";
    margin: auto;
   box-shadow: 5px 5px rgba(0, 0, 0, 0.2);

}
h2{
    font-family: "BigHero";
    width:20%;    
    font-family: "BigHero";
    text-align: center;
    text-shadow: black;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center
}

